.gradient-title-1 {
  background: -webkit-linear-gradient(107.04deg, #f55472 21.18%, #a387ff 48.4%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-title-2 {
  background: -webkit-linear-gradient(20deg, #f78400 2.91%, #f7d13b 45.83%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-title-3 {
  background: -webkit-linear-gradient(100deg, #feac5e 20.26%, #c779d0 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.topic-card-container {
  position: relative;
  width: 553px;
  height: 303px;
  border-radius: 16px;
  padding: 16px;
  border: #ebf3ff 1px solid;
  background: #f5f9ff;
  margin-top: 30px;
  box-shadow: 0px 0px 8px 0px #0053f429;
}

.topic-card-heading {
  font-size: 20px;
  font-weight: 600;
  line-height: 24.2px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-align: left;
  color: #517b7b;
}

.topic-card-badge {
  position: absolute;
  top: -20px; /* Adjust to position above the div */
  right: -4px; /* Adjust to position outside the div */
  color: #fff;
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 12px;
}

.topic-card-badge-assigned {
  background: -webkit-linear-gradient(99.24deg, #a3f5ea 0%, #abedc3 100%);
  color: #1d8640;
}

.topic-card-badge-recommended {
  background: -webkit-linear-gradient(20deg, #e0d6ff 0%, #fdd9df 100%);
  font-size: 14px;
  font-weight: 500;
  line-height: 16.94px;
  text-align: left;
}

.topic-card-badge-recommended > span {
  background: -webkit-linear-gradient(20deg, #8061e5 20%, #e56189 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.topic-card-rating-container {
  width: 322px;
  height: 103px;
  padding: 12px 16px 12px 12px;
  gap: 16px;
  border-radius: 8px;
  background: #ebf3ff;
  margin-top: 20px;
}

.topic-card-rating-text {
  color: #32709c;
  font-size: 12px;
  font-weight: 500;
  line-height: 14.52px;
  text-align: left;
}

.topic-card-rating-level {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
}

.level-beginner {
  background: -webkit-linear-gradient(99.24deg, #53b6b6 0%, #54b695 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.level-pro {
  background: -webkit-linear-gradient(99.24deg, #b65395 0%, #b65471 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.level-master {
  background: -webkit-linear-gradient(99.24deg, #e7762b 0%, #f79b33 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.topic-card-hr {
  margin: 40px -16px 0 -16px; /* Negative margin equal to the container's padding */
  border: 0;
  border-top: 1px solid; /* Customize the border style */
  color: #d6e7ff;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .topic-card-container {
    width: 339px;
    height: 293px;
  }

  .topic-card-heading {
    font-size: 16px;
    line-height: 19.36px;
    margin-top: 10px;
  }

  .topic-card-rating-container {
    width: 307px;
    height: 103px;
    padding: 8px;
  }
}

@media only screen and (max-width: 767px) {
  .topic-card-container {
    width: 330px;
    height: 275px;
    margin: 50px auto 0 auto;
    padding: 15px 10px;
    box-shadow: none;
  }

  .topic-card-rating-container {
    width: 310px;
  }

  .topic-card-hr {
    margin: 40px -10px 0 -10px;
  }
}
